@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fff;
  --bgSoft: #fdfbfb;
}

@layer base {
  @font-face {
    font-family: BYekan;
    src: url('/fonts/iranyekanwebregular.woff2');
  }
}

@layer components {
  body {
    @apply bg-[color:var(--bg)] font-bYekanRegular !important;
  }

  .topRight,
  .topLeft,
  .topCenter {
    @apply flex items-center justify-center gap-[15px];
  }

  .topCenter li {
    @apply cursor-pointer text-lg;
  }

  .sidebar .title {
    @apply m-[10px] w-[80%] border-y border-[#a7a4a4] p-[5px] text-center text-xs font-semibold leading-5 text-[#222];
  }

  .sidebarList > .sidebarListItem {
    @apply mt-[15px] inline-block w-[50%] cursor-pointer;
  }

  .teachersTable td {
    @apply p-[10px];
  }

  .profile input,
  textarea {
    @apply mb-6 mt-1 border border-[#dbdbdb] p-2 outline-none;
  }
}
