@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f2f3f5;
}

@layer base {
  @font-face {
    font-family: BYekan;
    src: url('/fonts/iranyekanwebregular.woff2');
  }
}

/* body {
  font-family: BYekan !important;
} */

@layer components {
  body {
    @apply font-bYekanRegular !important;
  }
}
